
/*** Menu ***/
.header {
    animation-name: animation-menu;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes animation-menu {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


/*** Sup Title ***/
.main__sup-text {
    animation-name: animation-sup-title;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes animation-sup-title {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


/*** Title ***/
.main-title {
    animation-name: animation-title;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes animation-title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*** Sub Title ***/
.main__sup-content {
    animation-name: animation-sub-title;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes animation-sub-title {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}


/*** Page Scroll Page ***/
.page__social-midia,
.page__scroll-page {
    animation-name: animation-scroll-page;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes animation-scroll-page {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}